<div id="header-container">
  <a class="title-link" routerLink=""><h1>Learn-project</h1></a>

  <nav>
    <ul>
      <li *ngFor="let icon of faIcons">
        <a [routerLink]="icon.route" routerLinkActive="active"
          ><fa-icon [icon]="icon.icon"></fa-icon
        ></a>
      </li>

      <li>
        <!-- TODO Ajouter dans le footer le créateur des avatars -->
        <a [routerLink]="routeName.profile" routerLinkActive="active"
          ><img
            class="avatar"
            src="../../../assets/icons/man/004-man.svg"
            alt="avatar"
        /></a>
      </li>
    </ul>
  </nav>
</div>
